.sidebar {
  flex: 1;
  background-color: #e3edf1;
  position: sticky;
  height: calc(100vh-60px);
  top: 50px;
}
.sidebarWrapper {
  padding: 20px;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  color: rgb(184, 179, 179);
}
.sidebarListMenu {
  list-style-type: none;
  padding: 15px;
}
.active {
  background: rgb(213, 220, 228);
  border-radius: 5px;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-content: center;
}
.sidebarListItem a {
  text-decoration: none;
  padding-left: 5px;
}
